#bdy{
    Background: #121212;
}
h1{
    text-transform: uppercase;
    font-family:cursive;
    color: #ffcc00;
    text-shadow: 2px 2px 8px #ff3399;
}

#container{
    height: 340px;
    width: 340px;
    /* background: #000; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    align-content: space-around;
    padding-left: 20px;
    padding-top: 20px;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 15%;
    background: linear-gradient(135deg, #39ff14, #006400); /* aqua → blue neon */
    border: 2px solid #ffffff;
    transition: box-shadow ease 0.5s;
    font-size: 5em;
    font-family:'Franklin Gothic Medium';
}

.box:active {
  transform: scale(0.88);
}

.box:hover{
    box-shadow:  5px 5px 25px rgba(57, 255, 20, 0.9),
      5px 5px 25px rgba(0, 100, 0, 0.8);  
}

.ctl_btn{
    height: 50px;
    width: 100px;
    font-size: 2em;
    transition: box-shadow ease 0.5s;
    border-radius: 25px;
    background: linear-gradient(135deg, #ff0844, #6a11cb, #2575fc);  
    color: #ffffff;
}

.ctl_btn:active {
  transform: scale(0.88);
  background-color: gold;
}

.ctl_btn:hover{
    box-shadow:   0 0 10px #ff0844,
  0 0 20px #6a11cb,   
  0 0 35px #2575fc; 
}
